.header {
    background-color: dimgray;
}

.navbar {   
    padding-left: 10px;
}

.navbar-collapse {
    padding-right: 10px;
}

h1{
    text-align: center;
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre {
    background-color: gainsboro;
    margin-top: 10px;
    padding-top: 5px;
    color: black;
}